* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.caixa-superior {
    background-image: url("./img/Advocacia_background.png");
    height: 90vh;
    background-size: cover;
}

.cabeçalho {
    padding-top: 25px;
    padding-left: 35px;
}

.titulo-cabeçalhos {
    font-size: 25px;
    color: #FFFFFF;
    display: inline;
    margin-left: 45px;
    margin-bottom: 25px;

}

.link-cabeçalho {
    font-size: 15px;
    color: #FFFFFF;
    display: inline-flex;
    margin-left: 20px;
    cursor: pointer;
    margin-left: 55px;
    flex-direction: row;
}

h1 {
    font-size: 68px;
    color: #FFFFFF;
    position: relative;
    top: 230px;
    margin-left: 65px;
}

form {
    background-color: #FFFFFF;
    border-radius: 15px;
    float:right;
    position: relative;
    padding: 25px;
    margin-right: 120px;
    position:relative;
    margin-top: -90px;
}

input {
    display: block;
    background: #c0c0c0;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    margin-bottom: 20px;
    padding-left: 10px;
    margin-top: 5px;

}

textarea {
    display: block;
    height: 80px;
    width: 250px;
    background: #c0c0c0;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    margin-top: 5px;
    resize: none;
}

.titulo-formulario {
    font-size: 24px;
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
}

label {
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
}

button {
    width: 250px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #40BB15;
    color: #FFFFFF;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.3;
}

.caixa-central {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.titulo-meio {
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.card {
    width: 300px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

.titulo-card {
    background: #747474;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

ul {
    padding: 20px;
}

li {
    margin-bottom: 5px;
    margin-left: 10px;
}

.caixa-inferior {
    background-color: #747474;
}

.titulo-inferior {
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

.paragrafo-inferior {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 50px 50px 50px;
}

footer {
    background: #FFFFFF;
    color: #000000;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 30px;
}
